<li class="org-tree-item">
  <a href="{{ include.organization.url | relative_url }}">{{ include.organization.title }}</a>
  {% if include.organization.acronym %} ({{ include.organization.acronym }}){% endif %}
  {% assign show_type = include.show_type | default: false %}
  {% if show_type and include.organization.type %} – <em>{{ include.organization.type }}</em>{% endif %}
  {% assign children = include.organizations | where: "parent_organization", include.organization.title | sort: "title" %}
  {% if children and children.size > 0 %}
    <ul class="org-tree-list">
      {% for child in children %}
        {% include org-tree.html organization=child organizations=include.organizations show_type=false %}
      {% endfor %}
    </ul>
  {% endif %}
</li>
