---
layout: default
---
{{ content }}

{% assign all_topics = site.topics | sort: "title" %}
{% assign top_level_topics = all_topics | where_exp: "topic", "topic.parent_topic == nil" %}

<div class="topics-tree">
  {% if top_level_topics and top_level_topics.size > 0 %}
    <ul class="topics-tree-list">
      {% for topic in top_level_topics %}
        {% include topic-tree.html topic=topic topics=all_topics %}
      {% endfor %}
    </ul>
  {% else %}
    <p>No topics have been added yet.</p>
  {% endif %}
</div>

<style>
.topics-tree-list {
  list-style: none;
  margin: 0;
  padding-left: 1rem;
}
.topics-tree-list > li {
  margin-bottom: 0.35rem;
}
.topics-tree-item > a {
  font-weight: 600;
  text-decoration: none;
}
.topics-tree-item > a:hover {
  text-decoration: underline;
}
.topics-tree-list ul {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding-left: 1rem;
  border-left: 1px solid #eee;
}
</style>
