---
layout: default
---

<article>
  <header>
    {% include breadcrumbs.html %}
    <h1>{{ page.title }}</h1>
  </header>

  <div class="page-content">
    {{ content }}


    {% assign all_topics = site.topics | sort: "title" %}

    <div class="hierarchy-tree">
      {% if all_topics and all_topics.size > 0 %}
        <ul class="hierarchy-tree-list">
          {% for topic in all_topics %}
            <li class="hierarchy-tree-item">
              <a href="{{ topic.url | relative_url }}">{{ topic.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No topics have been added yet.</p>
      {% endif %}
    </div>
  </div>
</article>
