---
layout: default
---

<article>
  <header>
    {% include breadcrumbs.html current=page.title %}
    <h1>{{ page.title }}</h1>
  </header>

  {{ content }}


  {% assign all_topics = site.topics | sort: "title" %}

  {% if all_topics and all_topics.size > 0 %}
    <div class="topics-detail">
      {% for topic in all_topics %}
        <section class="topic-item">
          <header>
            <h2>
              <a href="{{ topic.url | relative_url }}">{{ topic.title }}</a>
            </h2>
          </header>

          <div class="topic-body">
            {{ topic.content }}
          </div>
        </section>
      {% endfor %}
    </div>
  {% endif %}
</article>
